.adminItems {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
}

.adminItem {
  margin-top: 20px;
  margin-right: 20px;
  width: 30%;
  flex-shrink: 0;
  flex-grow: 0;
}

.deleteWrapper {
  position: absolute;
  left: 90%;
}

.addNewItem {
  margin-top: 20px;
  margin-right: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 30%;
  flex-shrink: 0;
  flex-grow: 0;
}

.loadMore {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #6c757d;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

.loadMore:hover {
  background-color: #4a4d50;
}

.loadMoreText {
  position: relative;
  left: 35%;
  top: 40%;
}
